<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo" thread-count="2" parallel="tests">
    <listeners>
        <listener class-name="tests.TestListener"/>
        <listener class-name="tests.Transformer"/>
    </listeners>
    <test name="Thread#1">
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="checkLogin"/>
                </methods>        
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Thread#2">
        <classes>
            <class name="tests.CartTest"/>
            <class name="tests.ProductTests"/>
        </classes>
    </test> <!-- Test -->
</suite>
